<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between border-bottom">
    <a class="navbar-brand" href="#">个人博客</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
        <button class="btn btn-info my-2 my-sm-0" type="submit">搜索</button>
    </form>
</nav>
<section class="container blog-contaienr">
    <div class="card card-section margin-top">
        <div class="card-body">
            <h5>鲁迅：好看的皮囊千篇一律，有趣的灵魂万里挑一</h5>
            <div class="sub-body">
                <p class="desc">作者:xuxh</p>
                <p class="desc">发布于：2015-08-27 20:06</p>
                <p class="desc">更新于：2015-08-27 20:08</p>
            </div>
            <p class="blog-content margin-top">01
                1925年8月10日，北洋军阀政府教育部颁发了停办北京女子师范大学的命令。女师大“停办"后，离校学生在鲁迅等著名教授的支持下，于北京西城宗帽胡同继续开课。
                时逢女师大校...</p>
            <div class="desc margin-top">阅读全文</div>
        </div>
    </div>
    <div class="card card-section margin-top">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>